{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    <h1>The page that you searched does not exist.</h1>
    {% if suggestions %}
      <div>Are you searching for....?</div>
      <ul>
          {% for suggestion in suggestions %}
              <li><a href="{% url 'entries' suggestion %}">{{ suggestion }}</a></li>
          {% endfor %}
      </ul>
    {% else %}
      <div>We do not have any suggestions for you. :( <br> Please, try again....</div>
    {% endif %}

{% endblock %}